*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-size: 16px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #dedede;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    color: #333;
}
.container {
    width: 1440px;
    max-width: 100%;
    padding: 0 40px;
    margin: 0 auto;
}

.header {
    padding: 40px 0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    background-image: linear-gradient(to right, #fff, #333);
}
.main {
    padding: 40px 0;
}
.main > .container {
    text-align: center;
}